<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="Prism_lab.Modules.BirdModule.dll" moduleType="Prism_lab.Modules.BirdModule, BirdModule, Version=1.0.0, Culture=neutral, PublicKeyToken=null" moduleName="BirdModule" startupLoaded="True" />
    <module assemblyFile="Prism_lab.Modules.ContainerModule.dll" moduleType="Prism_lab.Modules.ContainerModule, ContainerModule, Version=1.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ContainerModule" startupLoaded="True" />
  </modules>
</configuration>